In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
print(os.getcwd())

/Users/angela/Documents/GitHub/ML100Days/homework

In [9]:
train_df = pd.read_csv("application_train.csv")

In [24]:
# 設定 data_path
#dir_data ="./data/"

dir_data ="C:/Users/angela/Documents/GitHub/ML100Days/data"

In [28]:
#將路徑與文件名稱聯合起來
f_app = os.path.join(dir_data,'application_train.csv')
print(dir_data)
print(f_app)
print('Path of read in data: %s' % (f_app))
#利用pd讀取.csv文件
app_train = pd.read_csv(f_app)

C:/Users/angela/Documents/GitHub/ML100Days/data
C:/Users/angela/Documents/GitHub/ML100Days/data/application_train.csv
Path of read in data: C:/Users/angela/Documents/GitHub/ML100Days/data/application_train.csv

FileNotFoundError: [Errno 2] File C:/Users/angela/Documents/GitHub/ML100Days/data/application_train.csv does not exist: 'C:/Users/angela/Documents/GitHub/ML100Days/data/application_train.csv'

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [30]:
#顯示列與行的數目
train_df.shape

(307511, 122)

#### 列出所有欄位

In [29]:
#顯示所有的column
train_df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [ ]:
#顯示部分資料(用iloc)，不包含第10行
train_df.iloc[0:10,0:5]

#顯示部分資料(用loc)，有包含第10行
train_df.loc[0:10,'SK_ID_CURR':'CODE_GENDER']

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [32]:
#顯示前五個row
train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#顯示所有的row
train_df.index

RangeIndex(start=0, stop=307511, step=1)